
body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #665;
  /* apercu - 300 */
  /* futura_m - 400 */
}

.navigation {
  list-style: none;
  background: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #333;
}
  
/* .pimg1 {
  background-image:url('./img/image1.jpeg');
  min-height: 100%;
} */